.catalog {
  color: $bg--blue;


  &__act {
    padding-top: 45px;
    padding-bottom: 50px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: $fz--xsmall;
    line-height: 30px;

    @media #{$tablet} {
      width: 450px;
      padding-top: 95px;
      padding-bottom: 80px;
      font-size: $fz--base;
    }

    @media #{$desktop} {
      padding-bottom: 90px;
    }

    &--end {
      @media #{$tablet} {
        padding-top: 70px;
        padding-bottom: 70px;
      }

      @media #{$desktop} {
        padding-top: 60px;
        padding-bottom: 65px;
      }
    }
  }


  &__wrapper {
    @include container;
    width: 320px;
  }
}

.post-list {
    margin: 0 auto;
    width: 280px;

  & :last-child {
    margin-bottom: 0;
  }

  @media #{$tablet} {
    @include container;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media #{$desktop} {
    width: 1120px;
  }
}

.post {
  margin-bottom: 20px;
  @media #{$tablet} {
    width: 300px;
  }


  &--panorama {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
  }

  &__body-wrapper--panorama {
    margin: 0 auto;
    width: 280px;


    @media #{$tablet} {
      width: 700px;
    }

    @media #{$desktop} {
      width: 1120px;
    }
  }

  &__body-wrapper {
    background-color: $bg--gray;
    padding: 22px 18px 26px 18px;
    margin-top: -4px;

    @media #{$tablet} {
    padding: 28px;

    }

    @media #{$desktop} {
    padding-right: 31px;

    }
  }

  &__body {


    @media #{$tablet} {

    }

    @media #{$desktop} {

    }
  }

  &__author {
    font-size: $fz--xsmall;
    font-weight: $bold;
  }

  &__time {
    font-size: $fz--xxsmall;
    font-weight: $light;
    text-transform: uppercase;
    color: $c--black-opacity;
  }

  &__text {
    font-size: $fz--xsmall;
    line-height: 24px;
  }

  &__emotion {
    display: flex;
    background-color: $bg--gray;


    @media #{$tablet} {
      justify-content: space-between;

    }

  }

  &__like-btn {
    font-size: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 13px;
    height: 12px;
    margin: 0 19px 0 0;
    padding: 0;


    @media #{$tablet} {
      width: 14px;
      height: 12px;
      margin: 0;
      order: 2;
    }


  }

  &__like-stat {
    font-size: $fz--xxsmall;
    text-transform: uppercase;
    color: $c--pink;
    text-decoration: none;
    cursor: pointer;
    order: 1;
  }

  &__like-icon {
    fill: $c--pink;
  }

}
