.catalog {
  color: $bg--blue;


  &__act {
    padding-top: 45px;
    padding-bottom: 50px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: $fz--xsmall;
    line-height: 30px;

    @media #{$tablet} {
      width: 450px;
      padding-top: 95px;
      padding-bottom: 80px;
      font-size: $fz--base;
    }

    @media #{$desktop} {
      padding-bottom: 90px;
    }

    &--end {
      @media #{$tablet} {
        padding-top: 70px;
        padding-bottom: 70px;
      }

      @media #{$desktop} {
        padding-top: 60px;
        padding-bottom: 65px;
      }
    }
  }

  &__item {
    &--head {

      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &--head picture {

      width: 100%;
      min-width: 100%;
    }
  }


  &__wrapper {
    @include container;
    width: 320px;
  }
}

.post {

  &__body-wrapper {
    @include container;
    width: 320px;

    @media #{$tablet} {
      width: 700px;
    }

    @media #{$desktop} {
      width: 1120px;
    }
  }

  &__body {
    background-color: $bg--gray;
    padding: 22px 18px 25px 18px;


    @media #{$tablet} {
    padding: 28px;
    }

    @media #{$desktop} {

    }
  }

  &__author {
    font-size: $fz--xsmall;
    font-weight: $bold;
  }

  &__time {
    font-size: $fz--xxsmall;
    font-weight: $light;
    text-transform: uppercase;
    color: $c--black-opacity;
  }

  &__text {
    font-size: $fz--xsmall;
    line-height: 24px;
  }

  &__emotion {
    display: flex;
  }

  &__like-btn {
    font-size: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 13px;
    height: 12px;
    margin-right: 19px;


    @media #{$tablet} {
      width: 14px;
      height: 12px;
      margin-right: 0;
      margin-left: 10px;
      order: 2;
    }
  }

  &__like-stat {
    font-size: $fz--xxsmall;
    text-transform: uppercase;
    color: $c--pink;
    text-decoration: none;
    cursor: pointer;
    order: 1;
  }

  &__like-icon {
    fill: $c--pink;
  }

}
