.contacts {

  &__wrapper{
    @include container;
    padding-top: 35px;
    padding-bottom: 40px;
    text-align: center;

    @media #{$tablet} {
      padding-top: 50px;
      padding-bottom: 0;
    }

    @media #{$desktop} {
      padding-top: 65px;
      padding-bottom: 0;
    }
  }

  &__title {
    @include h2-mobile;
    margin-bottom: 20px;

    @media #{$tablet} {
      @include h2-tablet;
      margin-bottom: 20px;
    }

    @media #{$desktop} {
      @include h2-desktop;
      margin-bottom: 50px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

      @media #{$tablet} {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }
    }

  &__item {
    padding: 14px 0;

      @media #{$tablet} {
        padding: 25px 0 15px 0;
        width: 310px;
      }

      @media #{$desktop} {
        width: 313px;
        padding-bottom: 0;
      }

    &--phone {
      @media #{$desktop} {
        order: 1;
      }
    }

    &--mail {
      @media #{$desktop} {
        order: 3;
      }
    }

    &--adres {
      @media #{$desktop} {
        order: 2;
      }
    }
  }

  &__info {
    display: block;
    margin-top: 8px;

    @media #{$desktop} {
      margin-top: 20px;
    }
  }

  &__info a {
    @include link;
    font-weight: $light;
    font-size: $fz--xmedium;
  }

  &__map-wrapper {

  }

  &__map {
    position: relative;
    font-size: 0;
    background-image: url("../img/bg/map-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200px;
    width: 100%;
    height: 200px;

      @media #{$tablet} {
        background-image: url("../img/bg/map-tablet-desktop.jpg");
        background-size: 100% 380px;
        height: 380px;
      }

      @media #{$desktop} {
        height: 505px;
        background-size: 100% 505px;
      }

    &::before {
      @include triangle-footer;

      @media #{$tablet} {
        height: 75px;
        background-size: 100% 75px;
      }

      @media #{$desktop} {
        height: 107px;
        background-size: 100% 107px;
      }
    }
  }
}
