.download {
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: $bg--dark;
  text-align: center;

  @media #{$tablet} {
    width: 300px;
    padding-top: 140px;
    padding-bottom: 80px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media #{$desktop} {
    padding-top: 180px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__wrapper {
    @media #{$mobile} {
      @include container;
    }
  }

  &__title {
    @media #{$mobile} {
      @include hidden;

    }

    @media #{$tablet} {
      @include h2-tablet;
      margin-top: 0;
      margin-bottom: 50px;
      position: relative;
      z-index: 5;
    }

    @media #{$desktop} {
      @include h2-desktop;
      margin-top: 0;
      margin-bottom: 70px;
    }
  }

  &__title br {
    display: none;

    @media #{$tablet} {
      display: inline-block;
    }
  }

  &__btn-wrap {
    margin-top: 30px;
    margin-bottom: 45px;

    @media #{$tablet} {
      margin-top: 0;
      margin-bottom: 60px;
    }
    @media #{$desktop} {
      margin-bottom: 75px;
    }
  }

  &__logo {
    margin-bottom: 25px;

    @media #{$tablet} {
      margin-bottom: 25px;
    }

    @media #{$desktop} {
      margin-bottom: 45px;
    }
  }

  &__links {
    display: inline-block;
    vertical-align: baseline;
    width: 47px;
    height: 56px;
    margin-right: 16px;
    margin-left: 16px;

  }

  &__info {
    font-weight: $light;
    font-size: $fz--xsmall;
    line-height: 1.8;


    @media #{$tablet} {
      font-size: $fz--base;
    }
  }
}

.btn--download {
  font-size: $fz--base;
  font-weight: $bold;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 13px 35px;
  text-align: center;

  &:hover {
    background: #fff;
    color: $bg--pink;
  }

  &:active {
    background: #fff;
    color: $c--pink-opacity;
  }
}
