
.page-footer {
  min-height: 127px;
  background-color: $bg--white;
  color: $c--blue;
  width: auto;
  position: static;

  @media #{$desktop} {
    min-height: 197px;
  }

  @media #{$mobile} {
    display: none;
  }

  &__wrapper{
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$desktop} {
    @include container;
    }
  }

  &__socials {
    width: 180px;
    padding: 35px 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;


    @media #{$desktop} {
      padding: 75px 0;
    }
  }

  &__social-link {
    width: 50px;
    height: 50px;
    border: 3px solid $bg--gray-darker;
    border-radius: 50%;
    }

  &__copyright {
    width: 190px;

    @media #{$desktop} {
      width: 208px;
    }
  }
}

.logo-footer__svg {




}
