
.page-footer{
  &__wrapper{
      @include container;
  }
}

@media #{$mobile} {

}

@media #{$tablet} {
  .page-footer{
    &__wrapper{
      padding-top: 35px;
      padding-bottom: 35px;

      @include clearfix;
    }

// Временно
  &__logo-wrapper{
    width: 150px;
    min-height: 45px;
    background: #e1e1e1;
    float: left;
    margin-right: 60px;
    }

&__socials{
  float: left;
  width: 190px;
  margin-right: 30px;
  padding-top: 5px;
}

&__social-link{
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
  padding: 0;
}

&__social-link--youtube{
  margin-right: 0;
}

&__copyright{
  float: left;
  width: 210px;
  padding-top: 17px;
    }

&__copyright span{
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
}

&__copyright-link--fromstudio{
  margin-right: 13px;
}

&__copyright-link{
  width: 28px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}

  }
}

@media #{$desktop} {
  .page-footer{
    &__wrapper{
      padding-top: 70px;
      padding-bottom: 70px;
    }
    &__logo-wrapper{

      margin-right: 230px;
      }

    &__socials{

    margin-right: 170px;

    }

  }
}
