.page-nav {
  min-height: 66px;


  // @include container;


  &__wrapper{
    @include clearfix;
    background: $bg--dark;
    position: relative;
  }

  &__toggle{
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 2;
    display: block;
    width: 50px;
    min-height: 66px;
    font-size: 0;
    border-color: #000;
    cursor: pointer;
    border: none;
    background-color: $bg--dark;
    }

  &__logo{
    width: 80px;
    height: 25px;
    padding: 21px 20px;
  }


  &__list{

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-weight: $bold;
    text-align: center;
  }

  &__item a{
    display: block;
    padding: 21px 0;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $bg--blue;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000101;
  }

  &__item a[href] {
    &:hover {
      color: $c--pink;
    }

    &:active {
      color: $c--pink-opacity;
    }
  }

}

.page-nav--closed .page-nav__toggle::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #fff;
  box-shadow: 0 10px 0 0 #fff,
              0 20px 0 0 #fff;
}

.page-nav--closed .page-nav__toggle:hover::before{
  background-color: $c--pink;
  box-shadow: 0 10px 0 0 $c--pink,
              0 20px 0 0 $c--pink;
}

.page-nav--closed .page-nav__toggle:active::before{
  background-color: $c--pink-opacity;
  box-shadow: 0 10px 0 0 $c--pink-opacity,
              0 20px 0 0 $c--pink-opacity;
}

.page-nav--opened .page-nav__list {
  border-top: 1px solid #000101;
}

.page-nav--opened .page-nav__logo {
  padding: 23px 20px;
}

.page-nav--opened .page-nav__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 18px;
    width: 36px;
    height: 4px;
    background-color: #fff;
  }

  &:before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $c--pink
  }

  &:active::before,
  &:active::after {
    background-color: $c--pink-opacity;
  }

}

.page-nav--nojs .page-nav__toogle {
  display: none;
}

.page-nav--nojs .page-nav__wrapper {
  position: static;
  height: auto;
}

.page-nav--nojs .page-nav__list {
  display: block;
}

.page-nav--nojs .page-nav__item {
  display: block;
  background-color: $bg--dark;
}

@media #{$mobile} {

  .page-nav--closed .page-nav__item {
    display: none;
  }

  .page-nav{
    width: auto;
    margin: 0;
  }

  .page-nav{
    width: auto;
    margin: 0;

    &__wrapper{

    }
    &__logo{
      width: 80px;
    }
  }
}

@media #{$tablet-only} {
  .page-nav--closed .page-nav__item {
    display: none;
  }



  .page-nav{
    width: auto;
    margin: 0;

    &__wrapper{

    }
    &__logo{
      width: 150px;
    }
}
}

@media #{$desktop} {
  .page-nav{
    width: auto;
    margin: 0;

    &__toggle {
      display: none;
    }

    &__logo{
      width: 150px;
    }
    &__list{
      width: 620px;
    }
    &__item{
      display: inline-block;
    }
}
}
