.price {
  background-color: $bg--gray;
  position: relative;
  &::after {
    @include triangle;
  }

  &__wrapper {
    padding-top: 90px;
    padding-bottom: 5px;
    @include container;


    @media #{$tablet} {
      padding-bottom: 70px;

      }

    @media #{$desktop} {
      padding-top: 146px;
      padding-bottom: 95px;
    }
  }

  &__list {
    text-transform: uppercase;
    border-collapse: collapse;
    margin-bottom: 40px;

    @media #{$tablet} {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
      }

    @media #{$desktop} {
    max-width: 1020px;
    }
  }

  &__list td {
    border: 2px solid $bg--gray-darker;

  }

  &__table-header {
    background-color: $bg--blue;
    color: $c--white;
    text-align: center;
  }

  &__table-header td {
    width: 375px;
    padding: 23px 0 15px 0;

      @media #{$tablet} {
      padding: 15px 0 10px 0;
      width: 155px;
      }
      @media #{$desktop} {
      padding: 23px 0 15px 0;
      width: 285px;
      }
  }

  &__table-header .price__header  {
    border-top: 2px solid $bg--gray;
    border-bottom: 2px solid $bg--blue;
    border-right: 2px solid $bg--gray-darker;
    &--standart {
      position: relative;
      overflow: hidden;

    }
  }

  &__header-hit {
    position: absolute;
    display: block;
    width: 100px;
    transform: rotate(-45deg);
    background-color: $bg--pink;
    font-size: $fz--xsmall;
    line-height: 25px;
    top: 0;
    left: -18%;
    padding-right: 15px;


      @media #{$tablet} {
        top: 2%;
        left: -22%;
        line-height: 25px;
      }

      @media #{$desktop} {
        top: 2%;
        left: -12%;
        line-height: 30px;
      }
  }

  &__header-name {
    font-size: $fz--base;
    font-weight: $bold;

      @media #{$tablet} {
        font-size: $fz--small;
      }

      @media #{$desktop} {
        font-size: $fz--base;
      }
  }

  &__header-usd {
    font-size: $fz--xmedium;
    font-weight: $light;
    line-height: 40px;

    @media #{$tablet} {
      font-size: $fz--base;
      line-height: 32px;
    }

    @media #{$desktop} {
      font-size: $fz--xmedium;
      line-height: 40px;
    }
  }

  &__table-header .price__header--features {
    border: 2px solid $bg--gray;
    border-bottom: 2px solid $bg--gray-darker;
    background-color: $bg--gray;
    font-size: 0;
  }

  &__field {
    background-color: $bg--white;
    font-size: 0;
    padding: 22px 0;


    @media #{$tablet} {
    padding: 17px 0 15px 0;
    }

    @media #{$desktop} {
      padding: 22px 0 20px 0;
    }

    &--on {
    background-image: url("../img/svg-sprite/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

    &--off {
    background-image: url("../img/svg-sprite/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
  }


    &--value {
      font-size: 14px;
      color: $c--blue;
      padding-left: 22px;

      @media #{$tablet} {
        padding-left: 15px;
        text-transform: none;
      }

      @media #{$desktop} {
        font-size: $fz--base;
        padding-left: 22px;
      }

    }
  }
}
