.promo {

    &__title{
      text-align: center;
      @include h2-mobile;
    }

    &__title-wrapper {
      padding: 35px 0 40px 0;
      position: relative;
    }



    &__title--top{
      margin: 0 0 30px 0;
    }

    &__title--bottom{
        margin: 0;
    }

    &__info {
      padding: 90px 0 320px 0;
      text-align: center;
      background-color: $bg--gray;
      position: relative;
      z-index: 3;
    }

    &__item {
      margin-bottom: 40px;
    }

    &__item-title{
      @include h3-mobile;
    }

    &__item:last-child{
      margin-bottom: 0;
    }
  }


@media #{$tablet} {
  .promo{
    text-align: left;

    &__title{
      @include h2-tablet;
      }

      &__title--top{
        padding-top: 40px;
      }

    &__title--bottom{
      padding: 0 140px 40px 140px;

      }

    &__info{
      padding-left: 350px;
    }

    &__item{
      margin-bottom: 45px;
      width: 310px;
    }

    &__item-title{
      @include h3-tablet;
    }

    &__item:first-child{
      padding-top: 80px;
    }


    }
  }

@media #{$desktop} {
  .promo{
      text-align: center;

    &__title{
      @include h2-desktop;
      }
    &__title--top{
        padding-top: 75px;
      }

    &__title--bottom{
      padding: 0 240px 75px 240px;
      }

      &__info{
        @include container;
        padding-bottom: 70px;
        padding-top: 355px;
      }

      &__item{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        margin-right: 20px;

      }

      &__item-title{
        @include h3-dekstop;
      }

      &__item:first-child{
        padding: 0;
      }

      &__item:last-child{

        margin-right: 0;
      }
  }
}
