.promo {

    &__title{
      text-align: center;
      @include h2-mobile;

    }

    &__title-wrapper {
      padding: 35px 0 40px 0;
      position: relative;
    }



    &__title--top{
      margin: 0 0 30px 0;
    }

    &__title--bottom{
        margin: 0;
    }

    &__info {
      padding-top: 90px;
      padding-bottom: 320px;
      text-align: center;
      background-color: $bg--gray;
      position: relative;
      z-index: 3;
      &::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 31px;
        background: $bg--gray url(../img/bg/bg-triangle-white.svg) no-repeat center top;
        background-size: 100% 31px;
      }
    }

    &__info-wrapper{
      @include container;
    }


    &__info-list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    &__item {
      padding: 0 20px;
      margin-bottom: 40px;
    }

    &__item-title{
      @include h3-mobile;
    }

    &__item:last-child{
      margin-bottom: 0;
    }
  }


@media #{$tablet} {
  .promo{

    &__title{
      @include h2-tablet;
      }

      &__title--top{
        padding-top: 40px;
      }

    &__title--bottom{
      padding: 0;
    }

    &__title--top br {
      display: none;
    }

    &__info{

      &::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 51px;
        background: $bg--gray url(../img/bg/bg-triangle-white.svg) no-repeat center top;
        background-size: 100% 51px;
      }
    }

    &__info-list {
    padding-left: 50%;
    margin-bottom: 45px;
    text-align: left;
    padding-right: 0;
  }

    &__item{
      margin-bottom: 45px;

    }

    &__item-title{
      @include h3-tablet;
    }

    &__item:first-child{
      padding-top: 80px;
    }


    }
  }

@media #{$desktop} {
  .promo{
      text-align: center;

    &__title{
      @include h2-desktop;
      }
    &__title--top{
        padding-top: 75px;
      }

    &__title--bottom{
      padding: 0 240px 75px 240px;
      }

      &__info{
        width: 100%;
        padding-bottom: 70px;
        padding-top: 355px;
        &::before {
          content: "";
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 74px;
          background: $bg--gray url(../img/bg/bg-triangle-white.svg) no-repeat center top;
          background-size: 100% 74px;
        }
      }

      &__info-list {

      }

      &__item{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        margin-right: 20px;

      }

      &__item-title{
        @include h3-dekstop;
      }

      &__item:first-child{
        padding: 0;
      }

      &__item:last-child{

        margin-right: 0;
      }
  }
}
