@import "_variables";

@mixin retina {
  min-resolution: 144dpi;
  min-resolution: 1.5dppx;

}


@mixin h1 {
  font-size: $fz--xxlarge;
  line-height: 1.2;
  font-weight: $light;

}


@mixin h2-mobile {
  font-size: $fz--xmedium;
  line-height: 1.2;
  font-weight: $light;

}

@mixin h2-tablet {
  font-size: $fz--xlarge;
  line-height: 1.2;
  font-weight: $light;
  margin: 0;
  padding: 0;
}

@mixin h2-desktop {
  font-size: $fz--xxlarge;
  line-height: 1.2;
  font-weight: $light;
  margin: 0;
  padding: 0;
}

@mixin h3-mobile {
  font-size: $fz--base;
  line-height: 1.2;
  font-weight: $bold;
  font-style: normal;
  color: $c--black;
  margin: 0;
  padding: 0;
}

@mixin h3-tablet {
  font-size: $fz--base;
  line-height: 1.2;
  font-weight: $bold;
  color: $c--black;
  margin: 0;
  padding: 0;
}

@mixin h3-dekstop {
  font-size: $fz--large;
  line-height: 1.2;
  font-weight: $bold;
  color: $c--black;
  margin: 0;
  padding: 0;
}

@mixin container {
  margin: 0 auto;
  min-width: $screen--mobile;
  max-width: $screen--desktop;
  padding-left: $offset--mobile;
  padding-right: $offset--mobile;


  @media #{$tablet} {
    width: $screen--tablet;
    padding-left: $offset--tablet;
    padding-right: $offset--tablet;
  }


  @media #{$desktop} {
    min-width: $screen--desktop;
    padding-left: $offset--desktop;
    padding-right: $offset--desktop;
  }
}


@mixin link {
  color: $c--pink;
  text-decoration: none;
  transition: all 0.3s;


  &:hover {
    color: $c--blue;
    text-decoration: underline;
  }


  &:active {
    color: $c--blue-opacity;
    text-decoration: none;
  }
}


@mixin text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@mixin clearfix() {
  &::after{
    content: "";
    clear: both;
    display: table;
  }
}

@mixin triangle {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 31px;
  background: $bg--gray url(../img/bg/bg-triangle-white.svg) no-repeat center top;
  background-size: 100% 31px;
}

@mixin triangle-footer {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background: url(../img/bg/bg-triangle-white-footer.svg) no-repeat center top;
  background-size: 100% 47px;
}
