@mixin h1 {
  font-size: $fz--xxlarge;
  line-height: 1.2;
  font-weight: $light;
  color: $c--blue;
}


@mixin h2 {
  font-size: $fz--large;
  line-height: 1.2;
  font-weight: $bold;
  color: $c--blue;
}
