.editor {
  background-color: $bg--gray;

  &__wrapper {
    position: relative;
    @include container;
    width: 320px;
    padding-top: 20px;

    @media #{$tablet} {
    width: 700px;
    padding-top: 55px;
    padding-bottom: 55px;
      }
    @media #{$desktop} {
    width: 1120px;
    }
  }

  &__form {
    @media #{$tablet} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    }

    @media #{$desktop} {
      width: 870px;
      justify-content: center;
      @include container;

    }
  }

  &__picture {
    margin: 0 0 0 20px;
    @media #{$tablet} {
      margin: 0 0 0 40px;
    }
    @media #{$desktop} {
      margin-right: 90px;
    }
  }

  &__tools {
    padding-top: 42px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $bg--gray-darker;

    @media #{$tablet} {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: -15px;
      margin-right: 40px;
      border-bottom: none;
    }
  }

  &__tool {
    position: relative;


    @media #{$tablet} {
      width: 255px;
      min-height: 72px;
      border-bottom: 1px solid $bg--gray-darker;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 18px;
    }

      @media #{$desktop} {
        width: 380px;
        padding-right: 30px;
      }
  }

  &__tool-icon {
    fill: $bg--gray-darker;
    cursor: pointer;
    &--crop  {
    margin-left: 30px;
    }

    &--contrast {
      margin-right: 30px;
    }

      @media #{$tablet} {
        fill: $bg--pink;
        margin-left: 3px;
      }

      @media #{$desktop} {
        margin-left: 0;
      }


    &:hover {
      fill: $bg--gray-button-darker;
      }

      &--active {
      fill: $bg--pink;
        &:hover {
        fill: $bg--pink;
        }
      }


    @media #{$tablet} {
      &--contrast {
        width: 16px;
        margin-left: 6px;
        height: 16px;
      }
      &--fill {
        width: 24px;
        height: 22px;
      }
      &--crop {
        width: 22px;
        height: 22px;
      }

      &--active {
      fill: $bg--pink;
        &:hover {
        fill: $bg--gray-button-darker;
        }
      }
    }

    @media #{$desktop} {
      &--contrast {
        width: 32px;
        height: 32px;
      }
      &--fill {
        width: 49px;
        height: 42px;
      }
      &--crop {
        width: 45px;
        height: 45px;
      }
    }
  }

  &__range {
    height: 2px;
    background-color: $bg--blue;
    position: relative;
    z-index: 5;
    width: 240px;
    position: absolute;
    bottom: -33px;
    left: 20px;

    &--fill {
    display: none;
    }
    &--contrast {
    display: none;
    }

    @media #{$tablet} {
    position: relative;
    width: 202px;
    bottom: 0;
    left: 0;
    &--fill {
      display: flex;

    }
    &--contrast {
      display: flex;

    }
    }

    @media #{$desktop} {
      width: 290px;
    }
  }

  &__range-scale {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid $bg--pink;
    background-color: $bg--white;
    position: absolute;
    z-index: 10;
    top: -5px;
      &:active {
        background-color: $bg--pink;
      }
    &--crop {
      left: 20%;
    }

    &--fill {
      left: 90%;
    }

    &--contrast {
      left: 60%;
    }
  }

  &__buttons {
    padding-top: 38px;
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;

    @media #{$tablet} {
      width: 260px;
      position: absolute;
      bottom: 15px;
      right: 52px;
    bottom: 17px;
    }

    @media #{$desktop} {
      flex-direction: row;
      width: 410px;
      right: 195px;

    }
  }

  &__btn {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    font-size: $fz--base;
    font-weight: $bold;
    cursor: pointer;
    border-radius: 30px;
    padding: 17px 0;
    color: $c--white;
    outline: none;

      &--post {
        margin-bottom: 12px;
        color: $c--pink;
        border: 3px solid $c--pink;
        background-color: $bg--gray;

        &:hover {
          color: $c--white;
          background-color: $c--pink;
        }
        &:active {
          color: $c--white-opacity;
          background-color: $c--pink;
        }

        @media #{$desktop} {
          margin-bottom: 0;
          margin-right: 45px;
        }
      }

      &--esc {
        color: $bg--gray-light;
        border: 3px solid $bg--gray-light;
        background-color: $bg--gray;

        &:hover {
          color: $bg--gray-button-darker;
          border: 3px solid $bg--gray-button-darker;
        }
        &:active {
          color: $bg--gray-darker;
          background-color: $bg--gray-button-darker;
        }
      }
      @media #{$tablet} {
      width: 260px;

      }
      @media #{$desktop} {
      width: 183px;
      }
  }
}
