.main-nav {
  min-height: $h--header-mobile;
  position: static;

  &__wrapper {
    position: relative;
  }

  &__wrapper a {
    border: none;
    outline: none;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 2;
    display: block;
    width: 50px;
    min-height: $h--header-mobile;
    font-size: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
  }

  &__list {
    position: absolute;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 25;

  }

  &__item {
    font-weight: $bold;
    text-align: center;
  }

  &__item a {
    display: block;
    padding: 21px 0;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $bg--blue;
    // border-top: 1px solid #485461;
    // border-bottom: 1px solid #000101;
    box-shadow: 0 -1px 0 $c--black, inset 0 1px 0 rgba($c--white, 0.15);
  }

  &__item:last-child a {
    box-shadow: 0 -1px 0 $c--black, inset 0 1px 0 rgba($c--white, 0.15), inset 0 -1px 0 $c--black;
  }

  &__item a[href] {
    &:hover {
      color: $c--pink;
    }

    &:active {
      color: $c--pink-opacity;
    }
  }
}
@media #{$tablet-only} {
  // гамбургер
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
  }

  .main-nav--closed .main-nav__toggle:hover::before {
    background-color: $c--pink;
    box-shadow: 0 10px 0 0 $c--pink, 0 20px 0 0 $c--pink;
  }

  .main-nav--closed .main-nav__toggle:active::before {
    background-color: $c--pink-opacity;
    box-shadow: 0 10px 0 0 $c--pink-opacity, 0 20px 0 0 $c--pink-opacity;
  }

  .main-nav--opened .main-nav__wrapper {
    background-color: $bg--blue;
  }

  .main-nav--opened .main-nav__list {
    width: 100%;
  }

  .main-nav--closed .main-nav__toggle {
    border: none;
    outline: none;
  }
  // Закрытие меню крестик
  .main-nav--opened .main-nav__toggle {
    border: none;
    outline: none;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 18px;
      width: 36px;
      height: 4px;
      background-color: #fff;
    }

    &:before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover::after,
    &:hover::before {
      background-color: $c--pink;
    }

    &:active::after,
    &:active::before {
      background-color: $c--pink-opacity;
    }
  }
  // profession degradation, если отключен js
  .main-nav--nojs .main-nav__toogle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
    background-color: $bg--dark;
  }

  .main-nav--closed .main-nav__item {
    display: none;
  }
}
@media #{$tablet} {
  .main-nav {
    min-height: $h--header-tablet;

    &__toggle {
      right: 40px;
      width: 50px;
      min-height: 66px;
    }
  }

  .main-nav--opened .logo__svg {
    padding: 25px 40px 40px;
  }

  .main-nav--closed .main-nav__toggle::before {
    top: 42px;
  }

  .main-nav--opened .main-nav__toggle {
    &::after,
    &::before {
      top: 50px;
    }
  }
}
@media #{$desktop} {
  .main-nav {
    &__wrapper {
      display: flex;
      margin-right: auto;
      margin-left: auto;
      width: 940px;
      justify-content: space-between;
    }

    &__toggle {
      display: none;
    }

    &__list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      border-top: none;
      justify-content: flex-end;
      margin-right: 0;
    }

    &__item {
      margin-right: 80px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__item--active a:hover {
      color: $c--pink;

      &::after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        background-color: $bg--pink;
        bottom: 30px;
      }
    }

    &__item--active a:active {
      color: $c--white-opacity;

      &::after {
        display: none;
      }
    }

    &__item a {
      padding: 45px 0 42px;
      font-size: 18px;
      line-height: 18px;
      font-weight: $normal;
      background: none;
      border: none;
      text-transform: none;
      position: relative;
    }

    &__item:last-child a {
      box-shadow: none;
    }

    &__item a[href] {
      &:hover {
        color: #fff;
      }

      &:hover::before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        background-color: #fff;
        bottom: 30px;
      }

      &:active {
        color: $c--white-opacity;
      }

      &:active::before {
        display: none;
      }
    }
  }
}

.logo {
  &__svg {
    padding: 21px 20px 0;
  }

  &__letter--tablet-desktop {
    display: none;
  }

  &__letter--mobile {
    display: block;
  }

  &__star {
    display: none;
  }

  &__glasses {
    display: none;
  }
}
@media #{$tablet} {
  .logo {
    &__svg {
      padding: 25px 40px;
    }

    &__letter--mobile {
      display: none;
    }

    &__letter--tablet-desktop {
      display: block;
    }

    &__star {
      display: none;
    }

    &__glasses--tablet {
      display: block;
    }
  }
}
@media #{$desktop} {
  .logo {

    &__svg {
      padding: 25px 0;
    }

    &__glasses--tablet {
      display: none;
    }

    &__glasses--desktop {
      display: block;
    }

    &__star {
      display: block;
    }
  }
}

,
.logo__svg:hover .logo__glasses,
.logo__svg:hover .logo__letter {
  fill: $c--pink;
}

.logo__svg:active .logo__glasses,
.logo__svg:active .logo__letter,
.logo__svg:active .logo__star {
  fill: $bg--white-opacity;
}
