
.page-footer {
  min-height: 245px;
  background-color: $bg--white;
  color: $c--blue;
  width: auto;
  position: static;

  @media #{$tablet} {
    min-height: 130px;
  }

  @media #{$desktop} {
    min-height: 197px;
  }

  &__wrapper {
    @include container;
    min-height: 245px;
    padding-top: 40px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

      @media #{$tablet} {
        min-height: 130px;
        width: 700px;
        padding-bottom: 35px;
        flex-direction: row;
      }

      @media #{$desktop} {
        min-height: 197px;
        width: 1120px;
        padding-top: 75px;
        padding-bottom: 72px;
      }
    }

  &__socials {
    width: 180px;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    }


  &__link {
    display: flex;
    width: 45px;
    height: 45px;
    border: 3px solid $c--black-opacity;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

      @media #{$tablet} {
      margin-left: -10px;
      }

      &:hover {
      border: 3px solid $bg--blue;
      }

      &:active {
        opacity: 0.3;
      }

      @media #{$desktop} {
        margin-left: 0;
      }
    }

  &__copyright {
    width: 130px;
    font-size: $fz--xsmall;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

  @media #{$desktop} {
      width: 150px;
      font-size: $fz--base;
    }
  }

  &__copyright-icon {
    fill: $c--pink;
    &:hover {
      fill: $bg--blue;
    }
    &:active {
      opacity: 0.3;
    }
  }
}

.social-link {
      &__tv,
      &__fb,
      &__yt {
      fill: $c--pink;
    }
  }

.logo-footer__svg {
    margin-top: -10px;


    &:hover .logo__letter {
      fill: $c--pink;
    }
    &:active .logo__letter,
    &:active .logo__star,
    &:active .logo__glasses {
      fill: $c--black-opacity;
    }
}

.logo-footer__svg .logo__letter {
  display: block;
}

.logo-footer__svg .logo__glasses--tablet {
  display: block;

  @media #{$desktop} {
    display: none;
  }
}

.page-footer--index {
  @media #{$mobile} {
    display: none;
  }
}
